<center>
	<div class="about-container" >
	  <h3 class="title-container">about us</h3>
	  <div id="about-content">
	    <!-- <h4>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h4> -->
	    <p id="vision">
	    Born from the deepest wish of offering the best beauty services to our clients, <span>Beauty Lounge by Gilena</span> is  a place where beauty, comfort, knowledge, and personalized attention, combine to create a totally memorable and rejuvenating experience.</p>
	    <div id="profile">
	    	<img id="gilena-pic" src="/images/GILENA.jpg" alt="Gilena">
	    	<p id="comment">
	    		Working is a part of life and it is something that everyone will experience. Not only does working help out financially, it also contributes to character development and helps build relationships. I am very fortunate to have a job in the first place, but I also LOVE my job. 
	    		<br>
				In today's world, many people cannot genuinely say they love their job, but not in my case. Yes, some days are rougher than others, but at the end of the day, I always leave with a smile because I know how blessed I am to be here.
				<br>
				<span>.-Gilena Garcia - Founder and Beauty maker. </span>
	    	</p>
	    </div>
	  </div>
	</div>
</div>
</center>