<center>
	<div class="about-container" >
	  <h3 class="title-container">about us</h3>
	  <div id="about-content">
	    <div id="vision">
	    <p>Born from the deepest wishes of wanting to offer the best beauty service to our clients, <i>Beauty Lounge by Gilena</i> is a place where beauty, comfort, knowledge, and personalized attention combine to create an extremely memorable and rejuvenation experience.</p>
	    <p>At Beauty Lounge by Gilena, we cultivate relationships with our clients; inspiring a life of beauty and culture. Helping people with their flaws is our profession but making them feel comfortable in their skin is our passion. When a woman feels empowered, gorgeous, and confident, she can reach the stars! Our mission is to provide first rate service to our clients. We have the most comfortable and relaxing atmosphere where any of your expectations will be surpassed.</p>
	    <p>Beauty Lounge by Gilena employs very highly trained therapists who strive to provide the best service and take their utmost care in looking after clients during their visit.</p>
	</div>
	    <div id="profile"  class="stage">
		<div class="home-image-spin">
	    	<img id="spinner" class="gilena-pic" src="/images/HELLO.jpg">
	    	<div id="comment">
	    		<p>
	    		Working is a part of life and it is something that everyone will experience. Not only does working help out financially, it also contributes to character development and helps build relationships. I am very fortunate to have a job in the first place, but I also LOVE my job. 
	    		</p>
	    		<p>
				In today's world, many people cannot genuinely say they love their job, but not in my case. Yes, some days are rougher than others, but at the end of the day, I always leave with a smile because I know how blessed I am to be here.
				</p>
				<span>-Gilena Garcia - Founder and Beauty maker. </span>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
</center>