<style>
	#nogallery{
		display: none;
	}
</style>
<div id="gallery">
	<center>
		<div id="gallery-page">
			<img class="brand-name" id="brand-name-gallery" src="/images/logo1.png" alt="Beauty Bar Menu">
		       <div ng-controller="controller" id="slides_control">
		        <div id="carousel-main" >
		            <div uib-carousel interval="myInterval" active="activeSlide">
		                <div uib-slide ng-repeat="beforeAndAfter in beforeAndAfters" index="$index" class="carousel-box">
		                    <img ng-src="{{beforeAndAfter.image}}" style="margin:auto;" class="carousel-image">
		                    <div class="carousel-caption">
		                        <h2>{{beforeAndAfter.text}}</h2>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</center>
	<!-- <uib-tabset active="active">
    <uib-tab index="0" heading="MICRONEEDLING" class="tab-title">
			<center>
				<div id="gallery-page">
					<img class="brand-name" id="brand-name-gallery" src="/images/logo1.png" alt="Beauty Bar Menu">
				       <div ng-controller="controller" id="slides_control">
				        <div id="carousel-main" >
				            <div uib-carousel interval="myInterval" active="activeSlide">
				                <div uib-slide ng-repeat="microneed in microneeds" index="$index" class="carousel-box">
				                    <img ng-src="{{microneed.image}}" style="margin:auto;" class="carousel-image">
				                    <div class="carousel-caption">
				                        <h2>{{microneed.text}}</h2>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</center>
    </uib-tab>
    <uib-tab index="1" heading="MICRODERMABRASION" class="tab-title">
			<center>
				<div id="gallery-page">
					<img class="brand-name" id="brand-name-gallery" src="/images/logo1.png" alt="Beauty Bar Menu">
				       <div ng-controller="controller" id="slides_control">
				        <div id="carousel-main" >
				            <div uib-carousel interval="myInterval" active="activeSlide">
				                <div uib-slide ng-repeat="microdermo in microdermos" index="$index" class="carousel-box">
				                    <img ng-src="{{microdermo.image}}" style="margin:auto;" class="carousel-image">
				                    <div class="carousel-caption">
				                        <h2>{{microdermo.text}}</h2>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</center>
    </uib-tab>
    <uib-tab index="2" heading="TEENS FACIAL " class="tab-title">
			<center>
				<div id="gallery-page">
					<img class="brand-name" id="brand-name-gallery" src="/images/logo1.png" alt="Beauty Bar Menu">
				       <div ng-controller="controller" id="slides_control">
					        <div id="carousel-main" >
					            <div uib-carousel interval="myInterval" active="activeSlide">
					                <div uib-slide ng-repeat="teen in teens" index="$index" class="carousel-box">
					                    <img ng-src="{{teen.image}}" style="margin:auto;" class="carousel-image">
					                    <div class="carousel-caption">
					                        <!-- <h4>Slide {{$index+1}}</h4> -->
					                         <!-- <h2>{{teen.text}}</h2>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</center>
	    </uib-tab>
	</uib-tabset> -->
</div>
