<div>
	<img  class="brand-name" src="/images/name.jpg" alt="Beauty Bar Menu">
	 <div>
        <h3>Gallery</h3>
<!--         <div class="carousel_container">
        
        <div class="carousel-demo">
            <ul rn-carousel rn-carousel-index="3" rn-carousel-auto-slide="3" class="carousel5">
                <li><img src="/images/images.jpg" alt="" class="img_box" ></li>
                <li><img src="/images/images(1).jpg" alt="" class="img_box"></li>
                <li><img src="/images/images(2).jpg" alt="" class="img_box"></li>
                <li><img src="/images/images(3).jpg" alt="" class="img_box"></li>
                <li><img src="/images/images(4).jpg" alt="" class="img_box"></li>
            </ul>
            </div>
        </div>
    </div> -->
<!--     <ui-carousel 
	  slides="ctrl.autoplay.slides"
	  slides-to-show="1"
	  slides-to-scroll="1"
	  initial-slide="1"
	  autoplay="true"
	  autoplay-speed="2000"
	  dots="true">
	 
	  <carousel-item>

	  </carousel-item>
	</ui-carousel> -->
</div>
