<center>
<div id="about-container">
  <h3 class="title-container">privacy policy</h3>

  <div class="content">
    <h4>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h4>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin id nulla eu ullamcorper. Nullam egestas lorem ipsum, sit amet egestas tortor lacinia sit amet. In consequat ligula eu lorem sagittis dapibus. Nullam interdum enim felis, non rhoncus mauris posuere at. Cras eu erat ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Sed molestie, urna a semper porttitor, enim libero lobortis arcu, sed tempus enim turpis ut est. Nullam in ullamcorper erat. Duis at convallis lectus, in tristique erat.

    Donec at mi tempus, ullamcorper diam sed, eleifend ligula. In tristique luctus justo, id venenatis lacus gravida posuere. Morbi nulla turpis, semper nec sapien non, congue egestas enim. Fusce eu pellentesque odio. Morbi sit amet cursus libero. Vivamus sollicitudin lacus commodo est hendrerit, eget viverra est suscipit. Aenean tortor justo, convallis a fermentum a, pretium ac elit. Suspendisse sollicitudin massa et euismod porta. Curabitur dapibus, diam eu placerat lobortis,</p>
  </div>
</div>
</center>