<center> 
	<!-- <h3 class="title">services</h3> -->
	<div class="service-content">
		<div class="service-link">
			<img src="/images/GILENA-07.jpg" alt="">
			<a href="#!/services-facials"><h3>FACIALS</h3></a>
		</div>
		<div class="service-link">
			<a href="#!/services-beautybar"><h3>BEAUTY BAR</h3></a>
			<img src="/images/GILENA-68.jpg" alt="">
		</div>
		<div class="service-link">	
			<img src="/images/GILENA-09.jpg" alt="">
			<a href="#!/services-massages"><h3>MASSAGES</h3></a>
		</div>
		<div class="service-link">
			<a href="#!/services-wax"><h3>WAX</h3></a>
			<img src="/images/GILENA-01.jpg" alt="">
		</div>
	</div>
</center>