<style>
	   body{
      background: url("/images/GILENA-81.jpg") no-repeat center center fixed; 
      background-size: 100% 100%;
  }
</style>
<h3 class="services-title">Wax</h3>
<div class="mainContainer">
   	<div class="leftNav">
		<img class="zoom-img" src="/images/GILENA-30.jpg" alt="Body Wax" title="Body Wax" onclick="showImage('/images/GILENA-30.jpg','<p><span>Body Wax:</span> <br> Underarm<br>Half arm<br>Chest<br>Back<br>Full leg<br>Upper leg <br>Lower leg</p>',alt,title);" />
		<img class="zoom-img" src="/images/GILENA-31.jpg" alt="Face Wax" title="Face Wax" onclick="showImage('/images/GILENA-31.jpg','<p><span>Face Wax:</span> <br>Eyebrows<br>Mustache<br>Chin<br>Face</p>',alt,title);" />
		<img class="zoom-img" src="/images/GILENA-32.jpg" alt="Bikini Wax" title="Bikini Wax" onclick="showImage('/images/GILENA-32.jpg','<p><span>Bikini Wax:</span> <br> Line<br>Inner thigh<br>Full<br>Brazilian<br>Back</p>',alt,title);" />
    </div>
    <div class="rightDisplay">
	   	<div class="shadow">
	      <img id="currentImg" src="/images/GILENA-30.jpg" alt="Body Wax" title="Body Wax" />
	      <div id="imageDesc"></div>
	    </div>
   	</div>
</div>
