<center> 
<!-- <div class="services-container"> -->
	<h3 class="">facials</h3>
	<div class="content">
		<h2>Thumbnail Image</h2>
<p>Click on the image to enlarge it.</p>

<a target="_blank" href="/images/GILENA-08.jpg">
  <img id="test" src="/images/GILENA-08.jpg" alt="Forest" style="width:150px">
  <p>A <span>Refreshing Facial&nbsp;</span> is  the ideal solution to give you quick glow. This facial is loaded with anti-oxidant. Consists in cleansing the face, hydrants and apply a special mask that purifies, revitalizes and conditions for fresh radiant skin.</p>
</a>
<!-- 		<div class="services-left-box">
			<div class="service-box">
				<img src="/images/GILENA-05.jpg" alt="">
				<p><span>The European Facial &nbsp;</span>is a deep facial cleanse which  consists of a cleanse and exfoliate to  gets away the rough dead skin, after steam with manual extraction is removes black and whiteheads from the skin after calm the skin with high frequency a mask is apply. There are masks for a variety of purposes from healing acne scars to shrinking pores. Final touch is a facial an shoulder massage. You get personalized attention on your face and skin as well as time to relax and enjoy being pampered.</p>
			</div>
			<div class="service-box">
				<img src="/images/GILENA-08.jpg" alt="">
				<p>A <span>Refreshing Facial&nbsp;</span> is  the ideal solution to give you quick glow. This facial is loaded with anti-oxidant. Consists in cleansing the face, hydrants and apply a special mask that purifies, revitalizes and conditions for fresh radiant skin.</p>
			</div>
			<div class="service-box">
				<img src="/images/GILENA-02.jpg" alt="">
				<p><span>Microdermabrasion &nbsp;</span>is a facial procedure that uses manual exfoliation to remove the outer layer of skin. . We use a Diamond tipped wand to abrade the surface of your skin.  Is used to rejuvenate the skin, improve the appearance of sun-damaged skin, treat hyperpigmentation, and reduce or remove scars. This process works in a series to achieve the best results.</p>
			</div>
			<div class="service-box">
				<img src="/images/microneedling.jpg" alt="">
				<p>The primary appeal of <span>Microneedling &nbsp;</span>is its ability to stimulate growth of collagen and elastin, which is the key to new, youthful-looking skin.</p>
			</div>
		</div>
		<div class="services-right-box">

			<div class="service-box">
				<img src="/images/GILENA-06.jpg" alt="">
				<p><span>Teen Clear Skin Facial &nbsp;</span>is for young adults ages 12-17. This is a completely customized facial designed especially for teens.  Is designed to specifically address breakouts that are frequently associated with adolescent skin. Begin with a deep cleansing, followed by gentle extractions. A healing mask will then help to rehydrate dry, flaky skin, or eliminate oily particles. These facials can help with persisting teen skincare troubles or prevent them before the problem starts.</p>
			</div>
			<div class="service-box">
				<img src="/images/GILENA-01.jpg" alt="">
				<p><span>Chemicals Peels &nbsp;</span>is a technique used to improve the appearance of the skin on the face, neck or hands. A chemical solution is applied to the skin that causes it to exfoliate and eventually peel off. The new, regenerated skin is usually smoother and less wrinkled than the old skin.</p>
			</div>
			<div class="service-box">
				<img src="/images/GILENA-03.jpg" alt="">
				<p><span>Dermaplaning &nbsp;</span>is a method of exfoliation that consists of using a 10 gauge scalpel to gently scrape off the top layer of dulling dead skin cells in order to reveal a smoother, brighter complexion. Removes all the dead skin cells and also the facial hair, leaving the surface very smooth also allows for greater penetration of skincare products.</p>
			</div>
		</div> -->
	</div>
<!-- </div> -->
</center>