<center> 
<div class="services-container">
	<h3 class="title-container-services">beautyBar</h3>
	<div class="content">
		<div class="services-left-box">
			<div class="service-box">
				<img src="/images/GILENA-02.jpg" alt="">
				<p><span>Eyelashes Russian Volume &nbsp;</span>also known as 3D volume is the latest trend to take the eyelash extension industry by storm. Applying multiple lashes to one single natural eyelash individually isolating one natural eyelash at a time. Volumed means making them look full and lush.</p>
			</div>
			<div class="service-box">
				<img src="/images/GILENA-55.jpg" alt="">
				<p>A <span>Classic Eyelashes Extensions &nbsp;</span> are one extension applied to one natural lash only. Classic lashes are suitable for the following client: <br>
				Clients that have a good amount of healthy natural lashes. <br>
				Clients that are younger and have few gaps in their lash line. <br>
				Clients that desire a natural/medium effect.</p>
			</div>
			
<!-- 			<div class="service-box">
				<img src="/images/microneedling.jpg" alt="">
				<p>The primary appeal of <span>Microneedling &nbsp;</span>is its ability to stimulate growth of collagen and elastin, which is the key to new, youthful-looking skin.</p>
			</div> -->
		</div>
		<div class="services-right-box">
			<div class="service-box">
				<img src="/images/GILENA-54.jpg" alt="">
				<p><span>Eyebrows Tint &nbsp;</span> is a form of semi-permanent hair-dye formulated specifically for use on the eyebrows, not only the tinting and waxing of brows, but a total RE-VAMP and reshape. Tint is applied, to help brows look fuller and thicker</p>
			</div>
			<!-- <div class="service-box">
				<img src="/images/chemicals-peels.jpg" alt="">
				<p><span>Chemicals Peels &nbsp;</span>is a technique used to improve the appearance of the skin on the face, neck or hands. A chemical solution is applied to the skin that causes it to exfoliate and eventually peel off. The new, regenerated skin is usually smoother and less wrinkled than the old skin.</p>
			</div>
			<div class="service-box">
				<img src="/images/dermaplaning.png" alt="">
				<p><span>Dermaplaning &nbsp;</span>is a method of exfoliation that consists of using a 10 gauge scalpel to gently scrape off the top layer of dulling dead skin cells in order to reveal a smoother, brighter complexion. Removes all the dead skin cells and also the facial hair, leaving the surface very smooth also allows for greater penetration of skincare products.</p>
			</div> -->
		</div>
	</div>
</div>
</center>