<style>
	   body{
      background: url("/images/GILENA-81.jpg") no-repeat center center fixed; 
      background-size: 100% 100%;
  }
</style>
<h3 class="services-title">Massages</h3>
<div class="mainContainer">
   	<div class="leftNav">
		<img class="zoom-img" src="/images/GILENA-20.jpg" alt="Deep Tissue" title="Deep Tissue" onclick="showImage('/images/GILENA-20.jpg','<p>In this <span>Deep Tissue &nbsp;</span> massage the deeper pressure is beneficial in releasing chronic muscle tension. The focus is on the deepest layers of muscle tissue, tendons and fascia (the protective layer surrounding muscles, bones and joints).</p>',alt,title);" />
		<img class="zoom-img" src="/images/GILENA-21.jpg" alt="Swedish massage" title="Swedish massage" onclick="showImage('/images/GILENA-21.jpg','<p><span>Swedish massage &nbsp;</span> is exceptionally beneficial for increasing the level of oxygen in the blood, decreasing muscle toxins, improving circulation and flexibility while easing tension.</p>',alt,title);" />
		<img class="zoom-img" src="/images/GILENA-22.jpg" alt="Lymph drainage" title="Lymph drainage" onclick="showImage('/images/GILENA-22.jpg','<p>The <span>Lymph drainage &nbsp;</span> massage regenerates tissues to reduce scarring at surgical incision sites. It also reduce swelling and detoxify the body</p>',alt,title);" />
		<img class="zoom-img" src="/images/GILENA-23.jpg" alt="Mom to be massage" title=" Mom to be massage" onclick="showImage('/images/GILENA-23.jpg','<p><span>Mom to be massage &nbsp;</span>is a healthy way to reduce stress and promote overall wellness. Massage relieves many of the normal discomforts experienced during pregnancy, such as backaches, stiff neck, leg cramps, headaches and edema (or swelling).</p>',alt,title);" />
    </div>
    <div class="rightDisplay">
   	<div class="shadow">
      <img id="currentImg" src="/images/GILENA-20.jpg" alt="Deep Tissue" title="Deep Tissue" />
      <div id="imageDesc"></div>
    </div>
   </div>
</div>
