<center> 
<img  class="brand-name" src="/images/brand-name.png" alt="Beauty Bar Menu"> 
<div class="about-container">
	<h3 class="title-container">services</h3>
	<div class="service-content">
		<a href="#!/services-facials"><img src="/images/facials-img.jpg" alt=""></a>
		<a href="#!/services-beautybar"><img src="/images/makeup-img.jpg" alt=""></a>	
		<a href="#!/services-massages"><img src="/images/massages-img.jpg" alt=""></a>
		<a href="#!/services-wax"><img src="/images/wax-img.jpg" alt=""></a>
	</div>
</div>
</center>