<center> 
	<div class="service-content">
		<div id="service1">
			<div class="pic fadein service-link">
				<img src="/images/facials-img.jpg" alt="">
				<a href="#!/services-facials"><h3>FACIALS</h3></a>
			</div>
			<div class="pic fadein service-link"  id="pic2">
				<a href="#!/services-beautybar"><h3>BEAUTY BAR</h3></a>
				<img src="/images/beautyBar-img.jpg" alt="">
			</div>
		</div>
		<div id="service2">
			<div class="pic fadein service-link" id="pic3" >	
				<img src="/images/massages-img.jpg" alt="">
				<a href="#!/services-massages"><h3>MASSAGES</h3></a>
			</div>
			<div class="pic fadein service-link" id="pic4">
				<a href="#!/services-wax"><h3>WAX</h3></a>
				<img src="/images/wax-img.jpg" alt="">
			</div>
		</div>
	</div>
</center>