.brand-name{
  width:35%;
  margin: 2% 0% 0% 10%;

}
.main-container{
    /*text-align: center*/
}

.menu-image{
  width: 50%;
  margin: 2% 0% 0% 10%;
}

.menu-facials{
  width: 65%;
  margin: 4% 0% 0% 10%;
}

#about-container{
  margin: 4% 0% 0% 10%;
  background-color: #7d7d7d;
  width: 35%;
  color: white;
  padding-top: 2%;
}
.title-container{
  background-color:  #b5b5b5;
  color: #7d7d7d;
  height: 20%;
  text-align: center;
  padding: 2% 0% 4% 0%;
  font-size: 4em;
}
.content{
   padding: 2% 3%;
}


@include media-breakpoint-up(sm) {
  .navbar{
    font-size: 0.9em;
  }
}

@include media-breakpoint-up(md) {
 .navbar {
    font-size: 1.1em;
  }
}

@include media-breakpoint-up(lg) {
.navbar{
    font-size: 1.3em;
  }
}
